.alert{
  width: 600px;
  margin-inline: auto 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

.alert a {
  text-decoration: none;
  color: rgba(10, 28, 233, 0.899);
}

.alert button {
  width: min-content;
  color: rgba(0, 0, 0, 0.593);
  font-weight: 800;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 14px; 
}

.alert button:hover {
  color: rgb(71, 69, 69);
}

#open {
  animation: fadeIn 0.5s linear forwards, fadeIn 0.5s linear alternate-reverse forwards 5s;
}

#close {
  animation: fadeOut 0.5s linear forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  } 50% {
    transform: translateY(-50);
  } 100%  {
    transform: translateY(0px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(-100px);
  }
}